@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sky: #31C3BD;
  --skyHover: #65e9e4;
  --orange: #f2b137;
  --orangeHover: #ffc860;
  --darkBg: #1a2a33;
  --dg: #1f3641;
  --light: #a8bfc9;
  --lightHover: #dbe8ed;
}
body{
  width: 100%;
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  background-color: var(--darkBg);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* *General classes */
  .title{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
/* *General classes */

#home{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-header{
  display: flex;
  align-items: center;
  column-gap: 8.23px;
}
.home-header img{
  width: 32px;
}
.pannel{
  width: 327px;
  background-color: var(--dg);
  padding: 24px 24px 30px 24px ;
  border-radius: 15px;
  box-shadow: inset 0 -8px 0 0 #10212a;
  margin-top: 32px;
  text-align: center;
}
.header-title{
  color: var(--light);
}
.buttons{
  width: 100%;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  margin-top: 24px;
  background-color: var(--darkBg);
}
.btn-box{
  width: 50%;
  height: 100%;
  border-radius: 10px;
  border: none;
  background-color: transparent;
}
.x-icon, .o-icon{
  transform: scale(0.5);
}
.active{
  background-color: var(--light);
}
.active svg path{
  fill: var(--darkBg);
}

.warrning{
  margin-top: 17px;
  font-size: 14px;
  letter-spacing: 0.88px;
  line-height: normal;
  color: var(--light);
  font-weight: 500;
}